{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <title>LEADBOARD-API</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link href="https://bootswatch.com/4/slate/bootstrap.min.css" rel="stylesheet">
    <link href="https://use.fontawesome.com/releases/v5.14.0/css/all.css" rel="stylesheet">

</head>
<body class="container-fluid " style="background-color: #0F262E !important; ">
<div class="container ">
    <section class="row mt-5 text-center">
        <div class="col-md-6 m-auto">
            <h1 class="fas fa-code fa-5x">
                <h1 class="display-4">LEADBOARD-API</h1>
                <a href="https://documenter.getpostman.com/view/23575525/2s8YRdtGRr" class="btn btn-primary btn-block">Click
                    To Visit The Documentation Page</a>
            </h1>
        </div>
    </section>

</div>

</body>